.header {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .header-logo {
        width: clamp(3em, 20vw, 5em);
        height: auto;
    }
}
