.home {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#34383b, #0b0e0f, #1b1a37);

    .homeContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .homeTitle {
            font-size: 3rem;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            color: white;
            text-align: left;
            line-height: 5rem;
            margin: 0 1rem;
        }

        .homeContact {
            margin: 0 1rem;
            h2 {
                font-size: 1.5rem;
                font-weight: bold;
                color: white;
                text-align: left;
            }
            .homeContactInfo {
                p {
                    margin: 0;
                    color: white;
                }
            }
        }

        .homeSwipe {
            text-align: center;
            color: white;
            margin-bottom: 0.5rem;
        }
    }
}
