.burger-button {
    gap: 0.5em;
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: static;
    z-index: 1;

    .burger-bar {
        width: 2em;
        height: 0.15em;
        background-color: white;
        border-radius: 0.5em;
    }
    .burger-bar.clicked:nth-child(1) {
        transform: rotate(45deg) translate(0.45em, 0.45em);
        transition: ease-out 0.5s;
    }

    .burger-bar.clicked:nth-child(2) {
        opacity: 0;
        transition: ease-out 0.2s;
    }

    .burger-bar.clicked:nth-child(3) {
        transform: rotate(-45deg) translate(0.45em, -0.45em);
        transition: ease-out 0.5s;
    }

    .burger-bar.unclicked:nth-child(1) {
        transform: rotate(0) translate(0);
        transition: ease-out 0.5s;
    }

    .burger-bar.unclicked:nth-child(2) {
        opacity: 1;
        transition: ease-out 0.5s;
    }

    .burger-bar.unclicked:nth-child(3) {
        transform: rotate(0) translate(0);
        transition: ease-out 0.5s;
    }
}

.burger-menu.unclicked {
    width: 0vw;
    height: 200vh;
    position: absolute;
    background-color: darkblue;
    animation: 1s linear forwards shrink;
}

.burger-menu.clicked {
    width: 0vw;
    height: 200vh;
    position: absolute;
    background-color: darkblue;

    animation: 1s linear forwards grow;
}

@keyframes grow {
    0% {
        width: 0vw;
        height: 200vh;
    }
    100% {
        width: 100vw;
        height: 200vh;
    }
}

@keyframes shrink {
    0% {
        width: 100vw;
        height: 200vh;
    }
    100% {
        width: 0vw;
        height: 200vh;
    }
}
