.burger-button {
    gap: 0.5em;
    width: clamp(3em, 10vw, 5em);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: static;
    z-index: 1;

    .burger-bar {
        width: 2em;
        height: 0.15em;
        background-color: white;
        border-radius: 0.5em;
    }
    .burger-bar.clicked:nth-child(1) {
        transform: rotate(45deg) translate(0.45em, 0.45em);
        transition: ease-out 0.5s;
    }

    .burger-bar.clicked:nth-child(2) {
        opacity: 0;
        transition: ease-out 0.2s;
    }

    .burger-bar.clicked:nth-child(3) {
        transform: rotate(-45deg) translate(0.45em, -0.45em);
        transition: ease-out 0.5s;
    }

    .burger-bar.unclicked:nth-child(1) {
        transform: rotate(0) translate(0);
        transition: ease-out 0.5s;
    }

    .burger-bar.unclicked:nth-child(2) {
        opacity: 1;
        transition: ease-out 0.5s;
    }

    .burger-bar.unclicked:nth-child(3) {
        transform: rotate(0) translate(0);
        transition: ease-out 0.5s;
    }
}

.burger-menu {
    position: absolute;
    top: 0;
}

.burger-menu.unclicked {
    height: 100vh;
    max-width: 100%;
}

.burger-menu.clicked {
    height: 100vh;
    max-width: 100%;
    top: -10px;
}
